body {
text-align: center;
font-size: 1em;
background-color: #444444;
font-family: "Trebuchet MS", sans-serif;
color: white;
}

a {
    color: #ffffff;
}

h1 {
font-size: 3rem;
}
h2 {
font-size: 1.125rem;
color: #444444;
background-color: white;
}

button {
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid white;
    background-color: blue;
    color: white;
}
